<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        tools:replace="android:icon,android:theme"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="chin.com.frdict.activity.MainActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- The launchMode has to be singleInstance so that no other activity (e.g. the setting activity)
        can be placed into the task of this activity. Otherwise, if this activity shares the same task
        with another activity, then when we call moveTaskToBack() on this activity the other activity
        will be moved to back too -->
        <activity
            android:name="chin.com.frdict.activity.DictionaryActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name="chin.com.frdict.activity.SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat"/>

        <service android:name="chin.com.frdict.ChatHeadService" />
    </application>
</manifest>